:root{
    --cor_buttom_clica: rgb(39, 236, 49);
    --cor_buttom_click: rgb(157, 238, 157);
    --cor_fundo: rgb(5, 33, 58);
    --cor_titulo: rgb(236, 19, 218);

}
.body{
    background-color:var(--cor_fundo);
    height: 20px;
    border-radius: 40px;
}
h1{
    color:var(--cor_titulo);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    border: solid rgb(141, 209, 230) 3px;
    border-radius: 00%;
    text-align: center;
    height: 350px;
    width: 300px;
    flex-direction: row;
     
}
.botao{
    background-color: var(--cor_buttom_click);
    display: flex;
    justify-content: center;
    padding: lem;
    font-size: 18px;
    align-items: center;
    width: 100px;
    border-bottom: 4px solid var(--cor_botao_fundo);
    border-left: 4px solid var(--cor_botao_fundo);
    border-right: 4px solid var(--cor_botao_fundo);
    border-top: none;
}
.botao{
    height: 300px;
    width: 20px;

}
.botao:first-child{
    border-radius: 30% 0 0 0;

}
.botao:last-child{
    border-radius: 0 30% 0 0;
}
.main{
    text-align: center;
    margin-left: 41%;
 }
 .acionado{
    background-color: var(--cor_buttom_click);
    border-bottom: 4px solid rgb(253, 182, 182);
 }
 


    
 
