:root{
    --cor_buttom_clica: rgb(39, 236, 49);
    --cor_buttom_click: rgb(157, 238, 157);
    --cor_fundo: rgb(195, 224, 250);
    --cor_titulo: rgb(226, 30, 210);

}
body{
    background-color:var(--cor_fundo);
}
h1{
    color:var(--cor_titulo);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    border: solid black 2px;
    text-align: center;
    height: 350px;
    width: 350px;
    border-radius: 10%;
}
button{
    border-bottom: solid rgb(43, 226, 171) 2px;
    border-radius: 5%;
    color: rgb(0, 0, 0);
}
@media only screen and (max-width:820px) {/*para deixar responsivo*/
    body{
        grid-template-areas: 
        "cabe"
        "prin"
        "roda";
        grid-template-columns: 1fr;/*indica tamanho das colunas*/
        grid-template-rows: auto auto 200px;/*indica tamanho das linhas*/
    }
 }
 main{
    text-align: center;
    margin-left: 41%;
 }
